@using Blogs.Jhray.Services
@using Blogs.Jhray.Pages
@using Markdig
@inherits BlogContainerBase

<div class="blog container">
    @if (blogPosts != null)
    {
        @foreach (var blogPost in blogPosts.OrderByDescending(d => d.PublishDate))
        {
            <div class="post mb-4">
                @if (ShowManageWorkflow)
                {
                    <AuthorizeView Policy="content-creator">
                        <div class="manage-console">
                            <button class="btn btn-danger delete-btn" @onclick="() => DeletePostById(blogPost.Id)">␡</button>
                            <button class="btn btn-warning edit-btn" @onclick="() => EditPostById(blogPost.Id)">✎</button>
                        </div>
                    </AuthorizeView>
                }
                <h2 class="post-title">@blogPost.Title</h2>
                <h3 class="post-subtitle">@blogPost.Subtitle</h3>
                @((MarkupString) Markdown.ToHtml(blogPost.Content))
                <hr />
            </div>
        }
    }
</div>