@page "/memes"
@using Blogs.Jhray.Data
@using Markdig
@inherits MemesBase

<div class="blog-header jumbotron jumbotron-fluid" style="background-color:mintcream; padding-bottom:5px">
    <div class="container">
        <h1 class="display-4">Meme Driven Development</h1>
        <hr/>
        <p class="lead" style="font-style:oblique">A blog well suited for members of the hidden society.</p>
    </div>
</div>
<div class="blog container">
    

@if (blogPosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var blogPost in blogPosts.OrderByDescending(d => d.PublishDate))
    {
    <div class="post mb-4">
        <h2 class="post-title">@blogPost.Title</h2>
        <h3 class="post-subtitle">@blogPost.Subtitle</h3>
        @if (ShowManageWorkflow)
        {
        <AuthorizeView Policy="content-creator">
            <button class="btn btn-danger" @onclick="() => DeletePostById(blogPost.Id)">-</button>
        </AuthorizeView>
        }
        @((MarkupString) Markdown.ToHtml(blogPost.Content))
        <hr/>
    </div>
    }
}
</div>