
<AuthorizeView Policy="content-creator">
    <Authorized>
        <ul>
            <li class="first">
                <NavLink class="nav-link" href="@BlogNavigation">
                    <i class="fas @fas" aria-hidden="true"></i>@BlogQuickTitle
                </NavLink>
            </li>
            <li class="modify">
                <NavLink class="nav-link" href="@{$"{BlogNavigation}/add"}">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </NavLink>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="@BlogNavigation">
            <i class="fas @fas" aria-hidden="true"></i>@BlogQuickTitle
        </NavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string BlogNavigation { get; set; }
    [Parameter]
    public string BlogQuickTitle { get; set; }

    protected override void OnInitialized()
    {
        fas = BlogQuickTitle == "Memes" ? "fa-memory" : "fa-sun";
        base.OnInitialized();
    }
    private string fas;
}
