<AuthorizeView Policy="content-creator">
    <Authorized>
        <ul>
            <li class="first">
                <NavLink class="nav-link" href="memes">
                    <i class="fas fa-dollar-sign" aria-hidden="true"></i>Memes
                </NavLink>
            </li>
            <li class="modify">
                <NavLink class="nav-link" href="memes/add">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </NavLink>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="memes">
            <i class="fas fa-dollar-sign" aria-hidden="true"></i>Memes
        </NavLink>
    </NotAuthorized>
</AuthorizeView>

@code {

}
