<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="btn btn-outline-light">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-light" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
