@inherits LayoutComponentBase

<div class="sidebar @NavCollapse">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row bg-dark px-4">
        <button class="btn btn-outline-light" @onclick="@(() =>
            {
                ToggleNavMenu();
            })">
            <span class=@chevron></span>
        </button>
        <a class="btn btn-outline-light" style="position:fixed; right:25px;" href="https://jhray.com" target="_blank">JHRay.Com</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    private string chevronBase = "oi oi-chevron-";
    private string direc = "left";
    private string chevron => chevronBase + direc;
    private string NavCollapse = "";
    private void ToggleNavMenu()
    {
        direc = direc == "left" ? "right" : "left";
        NavCollapse = NavCollapse == "collapse" ? null : "collapse";
    }
}