<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blogs</a>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home" aria-hidden="true"></i>Blogs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="villages">
                <i class="fas fa-dungeon" aria-hidden="true"></i>Villages
            </NavLink>
        </li>
        @foreach (var blog in Blogs)
        {
            <li class="nav-item px-3">
                <BlogNav BlogNavigation="@blog.HomeUrl" />
            </li>
        }
        <AuthorizeView Policy="content-creator">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="AddBlog" Match="NavLinkMatch.All">
                    <i class="fas fa-plus" aria-hidden="true"></i>Add Blog
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>